openapi: "3.1.0"

info:
  title: karis-ky API
  version: "1.0.0"
  description: |
    REST API for the karis-ky global invoice liquidity network on Stellar.
    Exposes health, API info, invoice management, and escrow lifecycle endpoints.
    All monetary amounts are in the smallest unit (stroops: 1 XLM = 10,000,000 stroops).
  contact:
    name: karis-ky
  license:
    name: MIT

servers:
  - url: https://api.karis-ky.io/v1
    description: Production
  - url: http://localhost:4000/v1
    description: Local development

# ---------------------------------------------------------------------------
# Security
# ---------------------------------------------------------------------------
security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT issued after wallet-based authentication.

  # -- Reusable schemas
  # -------------------------------------------------------------------------
  schemas:

    # -- Shared primitives ---------------------------------------------------

    StellarAddress:
      type: string
      pattern: "^[A-Z2-7]{56}$"
      description: Stellar public key (G… or C… address, 56 chars, base32).
      example: "GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"

    InvoiceId:
      type: string
      minLength: 1
      maxLength: 12
      pattern: "^[A-Za-z0-9_-]+$"
      description: Short alphanumeric invoice identifier (Soroban Symbol, max 12 chars).
      example: "INV-1023"

    EscrowStatus:
      type: integer
      enum: [0, 1, 2, 3]
      description: |
        Escrow lifecycle state:
        - `0` — open (accepting funding)
        - `1` — funded (target met; SME can receive liquidity)
        - `2` — settled (buyer paid; investors receive principal + yield)
        - `3` — withdrawn (SME called withdraw; terminal)

    # -- Domain objects ------------------------------------------------------

    InvoiceEscrow:
      type: object
      required:
        - invoice_id
        - sme_address
        - buyer_address
        - amount
        - funding_target
        - funded_amount
        - yield_bps
        - maturity
        - status
        - is_paid
      properties:
        invoice_id:
          $ref: "#/components/schemas/InvoiceId"
        sme_address:
          $ref: "#/components/schemas/StellarAddress"
        buyer_address:
          $ref: "#/components/schemas/StellarAddress"
        amount:
          type: integer
          format: int64
          minimum: 1
          description: Total invoice amount in stroops.
          example: 100000000000
        funding_target:
          type: integer
          format: int64
          minimum: 1
          description: Funding target in stroops (equals `amount` at init).
          example: 100000000000
        funded_amount:
          type: integer
          format: int64
          minimum: 0
          description: Total investor contributions received so far, in stroops.
          example: 50000000000
        yield_bps:
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
          description: Investor yield in basis points (e.g. 800 = 8 %).
          example: 800
        maturity:
          type: integer
          format: int64
          minimum: 0
          description: Maturity ledger timestamp (Unix seconds). 0 = no time lock.
          example: 1785000000
        status:
          $ref: "#/components/schemas/EscrowStatus"
        is_paid:
          type: boolean
          description: Whether the buyer has confirmed payment (repayment of invoice).
          example: false

    FundingCloseSnapshot:
      type: object
      description: |
        Immutable snapshot written once when funded_amount first reaches funding_target.
        Off-chain systems use `total_principal` as the pro-rata denominator.
      required:
        - total_principal
        - funding_target
        - closed_at_ledger_timestamp
        - closed_at_ledger_sequence
      properties:
        total_principal:
          type: integer
          format: int64
          description: Total principal at close (may exceed funding_target if over-funded).
          example: 100000000000
        funding_target:
          type: integer
          format: int64
          example: 100000000000
        closed_at_ledger_timestamp:
          type: integer
          format: int64
          description: Ledger Unix timestamp when the escrow reached funded status.
          example: 1784000000
        closed_at_ledger_sequence:
          type: integer
          format: int32
          example: 53200000

    DisputePauseState:
      type: object
      description: Active dispute pause state. Absent when no pause is in effect.
      required:
        - ticket_id
        - paused_at_ledger_timestamp
        - expires_at_ledger_timestamp
      properties:
        ticket_id:
          type: string
          description: Support/dispute ticket identifier for the audit trail.
          example: "TICKET-2026-08-001"
        paused_at_ledger_timestamp:
          type: integer
          format: int64
          description: Ledger Unix timestamp when pause was activated.
          example: 1785000000
        expires_at_ledger_timestamp:
          type: integer
          format: int64
          description: Ledger Unix timestamp at which the pause auto-expires.
          example: 1786209600

    EscrowSnapshot:
      type: object
      description: |
        Serialized instance-storage state produced by `export_state`. Used for
        disaster recovery and cross-instance migration via `import_state`.
        Fields are the opaque on-chain XDR-encoded values; treat as write-once blobs.
      required:
        - schema_version
        - escrow
      properties:
        schema_version:
          type: integer
          format: int32
          example: 7
        escrow:
          $ref: "#/components/schemas/InvoiceEscrow"
        funding_close_snapshot:
          $ref: "#/components/schemas/FundingCloseSnapshot"
        legal_hold:
          type: boolean
          example: false
        dispute_pause:
          $ref: "#/components/schemas/DisputePauseState"
        unique_funder_count:
          type: integer
          format: int32
          example: 3
        has_primary_attestation:
          type: boolean
          example: true

    InvoiceSummary:
      type: object
      required: [invoice_id, amount, status]
      properties:
        invoice_id:
          $ref: "#/components/schemas/InvoiceId"
        amount:
          type: integer
          format: int64
          minimum: 1
          example: 100000000000
        status:
          $ref: "#/components/schemas/EscrowStatus"

    # -- Request bodies ------------------------------------------------------

    InitEscrowRequest:
      type: object
      required:
        - invoice_id
        - sme_address
        - buyer_address
        - amount
        - yield_bps
        - maturity
      properties:
        invoice_id:
          $ref: "#/components/schemas/InvoiceId"
        sme_address:
          $ref: "#/components/schemas/StellarAddress"
        buyer_address:
          $ref: "#/components/schemas/StellarAddress"
        amount:
          type: integer
          format: int64
          minimum: 1
          example: 100000000000
        yield_bps:
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
          example: 800
        maturity:
          type: integer
          format: int64
          minimum: 0
          description: Ledger Unix timestamp for settlement gate. 0 = no time lock.
          example: 1785000000
        min_contribution:
          type: integer
          format: int64
          nullable: true
          description: Minimum per-investor contribution in stroops. Null = no floor.
          example: 1000000000
        max_unique_investors:
          type: integer
          format: int32
          nullable: true
          description: Cap on distinct investor addresses. Null = unlimited.
          example: 50

    FundEscrowRequest:
      type: object
      required:
        - investor_address
        - amount
      properties:
        investor_address:
          $ref: "#/components/schemas/StellarAddress"
        amount:
          type: integer
          format: int64
          minimum: 1
          description: Amount to contribute in stroops.
          example: 50000000000

    FundWithCommitmentRequest:
      type: object
      required:
        - investor_address
        - amount
      properties:
        investor_address:
          $ref: "#/components/schemas/StellarAddress"
        amount:
          type: integer
          format: int64
          minimum: 1
          description: Amount to contribute in stroops.
          example: 50000000000
        committed_lock_secs:
          type: integer
          format: int64
          minimum: 0
          nullable: true
          description: |
            Lock duration in seconds from ledger timestamp. Investor's
            `claim_investor_payout` is blocked until this offset elapses.
            Selects the highest matching tier from `YieldTierTable`.
            0 or null = no lock, base yield applies.
          example: 7776000

    PauseDisputeRequest:
      type: object
      required:
        - ticket_id
        - duration_secs
      properties:
        ticket_id:
          type: string
          minLength: 1
          description: Dispute/support ticket reference for the audit trail.
          example: "TICKET-2026-08-001"
        duration_secs:
          type: integer
          format: int64
          minimum: 1
          maximum: 1209600
          description: |
            Pause duration in seconds. Maximum 1 209 600 (14 days).
            Auto-expiration triggers at `ledger.timestamp() + duration_secs`.
          example: 86400

    SetLegalHoldRequest:
      type: object
      required:
        - active
      properties:
        active:
          type: boolean
          description: true = activate hold, false = clear hold.
          example: true
        reason:
          type: string
          nullable: true
          description: Optional reason for audit log (off-chain only; not stored on-chain).
          example: "AML investigation initiated per compliance order CO-2026-44"

    SweepDustRequest:
      type: object
      required:
        - amount
      properties:
        amount:
          type: integer
          format: int64
          minimum: 1
          maximum: 100000000
          description: |
            Stroop amount to sweep. Must not exceed MAX_DUST_SWEEP_AMOUNT (100 000 000 stroops).
          example: 5000000

    ImportStateRequest:
      type: object
      required:
        - snapshot
      properties:
        snapshot:
          $ref: "#/components/schemas/EscrowSnapshot"

    # -- Responses -----------------------------------------------------------

    HealthResponse:
      type: object
      required: [status, timestamp]
      properties:
        status:
          type: string
          enum: [ok]
          example: ok
        timestamp:
          type: string
          format: date-time
          example: "2026-03-23T21:46:03Z"

    ApiInfoResponse:
      type: object
      required: [name, version, network]
      properties:
        name:
          type: string
          example: karis-ky API
        version:
          type: string
          example: "1.0.0"
        network:
          type: string
          enum: [mainnet, testnet, futurenet]
          example: mainnet
        docs_url:
          type: string
          format: uri
          example: "https://docs.karis-ky.io"

    ClaimPayoutResponse:
      type: object
      required: [invoice_id, investor_address, claimed, contribution_stroops, pro_rata_share_bps]
      properties:
        invoice_id:
          $ref: "#/components/schemas/InvoiceId"
        investor_address:
          $ref: "#/components/schemas/StellarAddress"
        claimed:
          type: boolean
          description: true = payout marker recorded (idempotent — repeating the call returns true).
          example: true
        contribution_stroops:
          type: integer
          format: int64
          description: This investor's total contribution at funding close.
          example: 25000000000
        pro_rata_share_bps:
          type: integer
          format: int32
          description: Investor's share of the total principal in basis points (scaled 0–10 000).
          example: 2500

    ErrorResponse:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          example: NOT_FOUND
        message:
          type: string
          example: "Invoice INV-1023 not found."
        contract_error_code:
          type: integer
          format: int32
          nullable: true
          description: Typed EscrowError code from the on-chain contract, if applicable.
          example: 121

  # -------------------------------------------------------------------------
  # Reusable responses
  # -------------------------------------------------------------------------
  responses:
    Unauthorized:
      description: Missing or invalid JWT.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: UNAUTHORIZED
            message: "Bearer token is missing or expired."

    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: NOT_FOUND
            message: "Invoice not found."

    UnprocessableEntity:
      description: Validation error or invalid state transition.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: INVALID_STATE
            message: "Escrow is not open for funding."

    Forbidden:
      description: Caller is not authorised to perform this admin action.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: FORBIDDEN
            message: "Admin authorization required."

    InternalServerError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: INTERNAL_ERROR
            message: "An unexpected error occurred."

# ---------------------------------------------------------------------------
# Paths
# ---------------------------------------------------------------------------
paths:

  # -- Health ----------------------------------------------------------------

  /health:
    get:
      operationId: getHealth
      summary: Health check
      description: Returns `200 ok` when the service is running. No authentication required.
      security: []
      tags: [Health]
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              example:
                status: ok
                timestamp: "2026-08-30T08:16:11Z"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # -- API Info --------------------------------------------------------------

  /info:
    get:
      operationId: getApiInfo
      summary: API metadata
      description: Returns the API name, version, and target Stellar network. No authentication required.
      security: []
      tags: [Info]
      responses:
        "200":
          description: API metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiInfoResponse"
              example:
                name: karis-ky API
                version: "1.0.0"
                network: mainnet
                docs_url: "https://docs.karis-ky.io"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # -- Invoices --------------------------------------------------------------

  /invoices:
    get:
      operationId: listInvoices
      summary: List invoices
      description: Returns a paginated list of invoice summaries visible to the authenticated caller.
      tags: [Invoices]
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/EscrowStatus"
          description: Filter by escrow status.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Paginated invoice list.
          content:
            application/json:
              schema:
                type: object
                required: [data, total]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/InvoiceSummary"
                  total:
                    type: integer
                    minimum: 0
              example:
                data:
                  - invoice_id: "INV-1023"
                    amount: 100000000000
                    status: 1
                  - invoice_id: "INV-1024"
                    amount: 50000000000
                    status: 0
                total: 2
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /invoices/{invoiceId}:
    parameters:
      - name: invoiceId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/InvoiceId"

    get:
      operationId: getInvoice
      summary: Get invoice escrow
      description: Returns the full escrow state for a single invoice.
      tags: [Invoices]
      responses:
        "200":
          description: Invoice escrow detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceEscrow"
              example:
                invoice_id: "INV-1023"
                sme_address: "GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"
                buyer_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                amount: 100000000000
                funding_target: 100000000000
                funded_amount: 100000000000
                yield_bps: 800
                maturity: 1785000000
                status: 1
                is_paid: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # -- Escrow lifecycle ------------------------------------------------------

  /escrow:
    post:
      operationId: initEscrow
      summary: Initialise invoice escrow
      description: |
        Creates a new on-chain escrow for an invoice via `LiquifactEscrow.init`.
        The caller must be authenticated and authorised to act on behalf of the SME.

        On success, the escrow is in status `0` (open) and accepts investor funding.
        The `maturity` field is a Soroban ledger timestamp (Unix seconds); set `0`
        to disable the settlement time gate.
      tags: [Escrow]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InitEscrowRequest"
            examples:
              basic:
                summary: Standard invoice with 8% yield and 90-day maturity
                value:
                  invoice_id: "INV-1023"
                  sme_address: "GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"
                  buyer_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                  amount: 100000000000
                  yield_bps: 800
                  maturity: 1785000000
              with_caps:
                summary: Invoice with investor caps and minimum contribution floor
                value:
                  invoice_id: "INV-1024"
                  sme_address: "GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"
                  buyer_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                  amount: 50000000000
                  yield_bps: 1000
                  maturity: 1785000000
                  min_contribution: 1000000000
                  max_unique_investors: 20
              no_maturity_lock:
                summary: Invoice with no settlement time gate (maturity = 0)
                value:
                  invoice_id: "INV-1025"
                  sme_address: "GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"
                  buyer_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                  amount: 25000000000
                  yield_bps: 600
                  maturity: 0
      responses:
        "201":
          description: Escrow created. Returns initial escrow state (status `0` — open).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceEscrow"
              example:
                invoice_id: "INV-1023"
                sme_address: "GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"
                buyer_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                amount: 100000000000
                funding_target: 100000000000
                funded_amount: 0
                yield_bps: 800
                maturity: 1785000000
                status: 0
                is_paid: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          description: Validation error — invalid parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalid_yield:
                  summary: yield_bps out of range
                  value:
                    error: INVALID_PARAM
                    message: "yield_bps must be between 0 and 10000."
                duplicate_invoice:
                  summary: Invoice already initialised
                  value:
                    error: ALREADY_INITIALIZED
                    message: "Escrow for INV-1023 has already been initialised."
                    contract_error_code: 100
        "500":
          $ref: "#/components/responses/InternalServerError"

  /escrow/{invoiceId}/fund:
    post:
      operationId: fundEscrow
      summary: Fund an escrow
      description: |
        Records an investor contribution via `LiquifactEscrow.fund`.

        Status transitions to `1` (funded) atomically when
        `funded_amount >= funding_target`. The funding-close snapshot is written
        at that moment and is immutable thereafter.

        Blocked by: legal hold (EscrowError 120), dispute pause (EscrowError 165).
      tags: [Escrow]
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/InvoiceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FundEscrowRequest"
            examples:
              partial:
                summary: Partial funding — target not yet reached
                value:
                  investor_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                  amount: 50000000000
              full:
                summary: Single investor meets the full target
                value:
                  investor_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                  amount: 100000000000
      responses:
        "200":
          description: |
            Updated escrow state after funding.
            If `funded_amount >= funding_target`, `status` will be `1`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceEscrow"
              examples:
                partial:
                  summary: Partial funding — status still 0
                  value:
                    invoice_id: "INV-1023"
                    sme_address: "GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"
                    buyer_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                    amount: 100000000000
                    funding_target: 100000000000
                    funded_amount: 50000000000
                    yield_bps: 800
                    maturity: 1785000000
                    status: 0
                    is_paid: false
                funded:
                  summary: Target reached — status transitions to 1
                  value:
                    invoice_id: "INV-1023"
                    sme_address: "GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"
                    buyer_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                    amount: 100000000000
                    funding_target: 100000000000
                    funded_amount: 100000000000
                    yield_bps: 800
                    maturity: 1785000000
                    status: 1
                    is_paid: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Escrow is not open for funding, or a constraint was violated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not_open:
                  summary: Escrow already funded or closed
                  value:
                    error: INVALID_STATE
                    message: "Escrow not open for funding."
                    contract_error_code: 121
                legal_hold:
                  summary: Legal hold blocks funding
                  value:
                    error: LEGAL_HOLD_ACTIVE
                    message: "A legal hold is active on this escrow."
                    contract_error_code: 120
                dispute_paused:
                  summary: Dispute pause blocks funding
                  value:
                    error: DISPUTE_PAUSED
                    message: "Escrow is paused due to an active dispute. Pause expires at ledger timestamp 1786209600."
                    contract_error_code: 165
                below_min_contribution:
                  summary: Amount below minimum contribution floor
                  value:
                    error: BELOW_MIN_CONTRIBUTION
                    message: "Contribution of 500000000 stroops is below the minimum floor of 1000000000 stroops."
                    contract_error_code: 131
        "500":
          $ref: "#/components/responses/InternalServerError"

  /escrow/{invoiceId}/fund-with-commitment:
    post:
      operationId: fundEscrowWithCommitment
      summary: Fund an escrow with a commitment lock (tiered yield)
      description: |
        Records an investor's **first** contribution via
        `LiquifactEscrow.fund_with_commitment`. The optional `committed_lock_secs`
        selects the best matching `YieldTier` from the escrow's tier table.

        - First-deposit only: subsequent contributions from the same investor
          must use the plain `fund` endpoint.
        - If `committed_lock_secs > 0`, the investor's payout claim is locked
          until `ledger.timestamp() + committed_lock_secs`.
        - Blocked by: legal hold, dispute pause.
      tags: [Escrow]
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/InvoiceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FundWithCommitmentRequest"
            examples:
              with_lock:
                summary: 90-day commitment lock — selects premium yield tier
                value:
                  investor_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                  amount: 25000000000
                  committed_lock_secs: 7776000
              no_lock:
                summary: No lock — base yield applies
                value:
                  investor_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                  amount: 10000000000
                  committed_lock_secs: 0
      responses:
        "200":
          description: Updated escrow state after funding. Investor's effective yield and claim-not-before are set.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceEscrow"
              example:
                invoice_id: "INV-1023"
                sme_address: "GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"
                buyer_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                amount: 100000000000
                funding_target: 100000000000
                funded_amount: 25000000000
                yield_bps: 800
                maturity: 1785000000
                status: 0
                is_paid: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Constraint violation, duplicate first-deposit, or escrow not open.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                already_funded_investor:
                  summary: Investor already has a first-deposit
                  value:
                    error: INVALID_STATE
                    message: "Investor already has an initial commitment deposit. Use /fund for subsequent contributions."
                    contract_error_code: 150
                not_open:
                  summary: Escrow no longer open
                  value:
                    error: INVALID_STATE
                    message: "Escrow not open for funding."
                    contract_error_code: 121
        "500":
          $ref: "#/components/responses/InternalServerError"

  /escrow/{invoiceId}/confirm:
    post:
      operationId: confirmPayment
      summary: Confirm buyer payment
      description: |
        Records the buyer's explicit confirmation of payment via
        `LiquifactEscrow.confirm_payment`. Required before the SME can settle.
      tags: [Escrow]
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/InvoiceId"
      responses:
        "200":
          description: Updated escrow state — `is_paid` transitions to `true`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceEscrow"
              example:
                invoice_id: "INV-1023"
                sme_address: "GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"
                buyer_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                amount: 100000000000
                funding_target: 100000000000
                funded_amount: 100000000000
                yield_bps: 800
                maturity: 1785000000
                status: 1
                is_paid: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Escrow is not in funded state or payment already confirmed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: INVALID_STATE
                message: "Escrow must be funded before payment confirmation."
        "500":
          $ref: "#/components/responses/InternalServerError"

  /escrow/{invoiceId}/settle:
    post:
      operationId: settleEscrow
      summary: Settle an escrow
      description: |
        Marks the escrow as settled via `LiquifactEscrow.settle`.

        **Prerequisites:** `status == 1` (funded) AND `is_paid == true` AND
        `ledger.timestamp() >= maturity` (if `maturity > 0`).

        Transitions to `status 2` (settled). Investors may then call
        `claim_investor_payout` to record payout claims.

        Blocked by: legal hold (EscrowError 120), dispute pause (EscrowError 166).
      tags: [Escrow]
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/InvoiceId"
      responses:
        "200":
          description: Escrow settled — `status` is now `2`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceEscrow"
              example:
                invoice_id: "INV-1023"
                sme_address: "GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"
                buyer_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                amount: 100000000000
                funding_target: 100000000000
                funded_amount: 100000000000
                yield_bps: 800
                maturity: 1785000000
                status: 2
                is_paid: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Precondition not met.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not_funded:
                  summary: Escrow is not in funded state
                  value:
                    error: INVALID_STATE
                    message: "Escrow must be funded before settlement."
                    contract_error_code: 121
                not_paid:
                  summary: Buyer has not confirmed payment
                  value:
                    error: INVALID_STATE
                    message: "Buyer payment confirmation required before settlement."
                maturity_not_reached:
                  summary: Maturity timestamp not yet reached
                  value:
                    error: MATURITY_NOT_REACHED
                    message: "Settlement blocked: maturity not yet reached (maturity=1785000000, now=1784000000)."
                    contract_error_code: 122
                legal_hold:
                  summary: Legal hold active
                  value:
                    error: LEGAL_HOLD_ACTIVE
                    message: "A legal hold is active on this escrow."
                    contract_error_code: 120
                dispute_paused:
                  summary: Dispute pause active
                  value:
                    error: DISPUTE_PAUSED
                    message: "Escrow is paused due to an active dispute."
                    contract_error_code: 166
        "500":
          $ref: "#/components/responses/InternalServerError"

  /escrow/{invoiceId}/withdraw:
    post:
      operationId: withdrawEscrow
      summary: SME withdraws funded liquidity
      description: |
        Records the SME's liquidity withdrawal via `LiquifactEscrow.withdraw`.
        Requires `status == 1` (funded). Transitions to `status 3` (withdrawn).
        This is mutually exclusive with `settle` — once withdrawn, settlement is
        not possible.

        Blocked by: legal hold (EscrowError 120), dispute pause (EscrowError 167).
      tags: [Escrow]
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/InvoiceId"
      responses:
        "200":
          description: Withdrawal recorded — `status` is now `3` (withdrawn).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceEscrow"
              example:
                invoice_id: "INV-1023"
                sme_address: "GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"
                buyer_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                amount: 100000000000
                funding_target: 100000000000
                funded_amount: 100000000000
                yield_bps: 800
                maturity: 1785000000
                status: 3
                is_paid: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Escrow is not in funded state (status ≠ 1).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not_funded:
                  summary: Escrow is not funded
                  value:
                    error: INVALID_STATE
                    message: "Escrow must be funded (status 1) for SME withdrawal."
                    contract_error_code: 121
                legal_hold:
                  summary: Legal hold blocks withdrawal
                  value:
                    error: LEGAL_HOLD_ACTIVE
                    message: "A legal hold is active on this escrow."
                    contract_error_code: 120
        "500":
          $ref: "#/components/responses/InternalServerError"

  /escrow/{invoiceId}/claim:
    post:
      operationId: claimInvestorPayout
      summary: Investor records a payout claim
      description: |
        Records an investor's payout claim via `LiquifactEscrow.claim_investor_payout`.
        Requires `status == 2` (settled). Writing the claim marker is **idempotent**;
        calling again returns the same response.

        The contract does **not** transfer tokens. The integration layer uses the
        funding-close snapshot and the investor's contribution to compute and
        execute the actual payout.

        Blocked by: legal hold (EscrowError 120), dispute pause (EscrowError 168).

        Claim locks: if `committed_lock_secs > 0` at funding time, the claim is
        blocked until `ledger.timestamp() >= claim_not_before`.
      tags: [Escrow]
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/InvoiceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - investor_address
              properties:
                investor_address:
                  $ref: "#/components/schemas/StellarAddress"
            example:
              investor_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
      responses:
        "200":
          description: Payout claim recorded (or already recorded — idempotent).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimPayoutResponse"
              examples:
                claimed:
                  summary: Claim marker written for the first time
                  value:
                    invoice_id: "INV-1023"
                    investor_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                    claimed: true
                    contribution_stroops: 25000000000
                    pro_rata_share_bps: 2500
                already_claimed:
                  summary: Investor already claimed — idempotent response
                  value:
                    invoice_id: "INV-1023"
                    investor_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                    claimed: true
                    contribution_stroops: 25000000000
                    pro_rata_share_bps: 2500
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Escrow is not settled, or claim lock has not expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not_settled:
                  summary: Escrow not yet settled
                  value:
                    error: INVALID_STATE
                    message: "Investor payout claims require status 2 (settled)."
                    contract_error_code: 127
                claim_locked:
                  summary: Commitment lock not yet expired
                  value:
                    error: CLAIM_LOCKED
                    message: "Investor claim is locked until ledger timestamp 1792776000."
                    contract_error_code: 130
                legal_hold:
                  summary: Legal hold blocks claim
                  value:
                    error: LEGAL_HOLD_ACTIVE
                    message: "A legal hold is active on this escrow."
                    contract_error_code: 120
                dispute_paused:
                  summary: Dispute pause blocks claim
                  value:
                    error: DISPUTE_PAUSED
                    message: "Escrow is paused due to an active dispute."
                    contract_error_code: 168
        "500":
          $ref: "#/components/responses/InternalServerError"

  /escrow/{invoiceId}/sweep-dust:
    post:
      operationId: sweepTerminalDust
      summary: Treasury sweeps terminal dust
      description: |
        Moves at most `MAX_DUST_SWEEP_AMOUNT` (100 000 000 stroops) of the
        funding token from the contract to the treasury via
        `LiquifactEscrow.sweep_terminal_dust`.

        Requires terminal escrow state (`status == 2` or `3`). Requires treasury
        authorization. Intended for rounding residue — not for live liabilities.

        Blocked by legal hold. Not blocked by dispute pause.
      tags: [Escrow]
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/InvoiceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SweepDustRequest"
            examples:
              small_sweep:
                summary: Sweep residual 0.5 USDC
                value:
                  amount: 5000000
              max_sweep:
                summary: Sweep up to the per-call maximum
                value:
                  amount: 100000000
      responses:
        "200":
          description: Dust swept to treasury.
          content:
            application/json:
              schema:
                type: object
                required: [invoice_id, amount_swept_stroops, treasury_address]
                properties:
                  invoice_id:
                    $ref: "#/components/schemas/InvoiceId"
                  amount_swept_stroops:
                    type: integer
                    format: int64
                    description: Actual amount transferred to treasury.
                    example: 5000000
                  treasury_address:
                    $ref: "#/components/schemas/StellarAddress"
              example:
                invoice_id: "INV-1023"
                amount_swept_stroops: 5000000
                treasury_address: "GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Escrow is not terminal, amount exceeds cap, or legal hold is active.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not_terminal:
                  summary: Escrow not yet in terminal state
                  value:
                    error: INVALID_STATE
                    message: "Dust sweep only permitted in terminal states (settled or withdrawn)."
                    contract_error_code: 132
                exceeds_cap:
                  summary: Requested amount exceeds per-call cap
                  value:
                    error: DUST_SWEEP_EXCEEDS_CAP
                    message: "Dust sweep amount 200000000 exceeds MAX_DUST_SWEEP_AMOUNT (100000000)."
                    contract_error_code: 133
                legal_hold:
                  summary: Legal hold active
                  value:
                    error: LEGAL_HOLD_ACTIVE
                    message: "A legal hold is active on this escrow."
                    contract_error_code: 120
        "500":
          $ref: "#/components/responses/InternalServerError"

  /escrow/{invoiceId}/legal-hold:
    put:
      operationId: setLegalHold
      summary: Activate or clear a legal / compliance hold
      description: |
        Activates or clears a legal hold via `LiquifactEscrow.set_legal_hold`.
        Requires admin authorization. While active, legal hold blocks:
        `settle`, `withdraw`, `claim_investor_payout`, `sweep_terminal_dust`.

        Does **not** block `fund` (funding may continue) or `pause_dispute`.
      tags: [Escrow, Admin]
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/InvoiceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetLegalHoldRequest"
            examples:
              activate:
                summary: Activate legal hold (e.g. AML investigation)
                value:
                  active: true
                  reason: "AML investigation initiated per compliance order CO-2026-44"
              clear:
                summary: Clear legal hold after resolution
                value:
                  active: false
                  reason: "Investigation concluded — no action required"
      responses:
        "200":
          description: Legal hold state updated.
          content:
            application/json:
              schema:
                type: object
                required: [invoice_id, legal_hold_active]
                properties:
                  invoice_id:
                    $ref: "#/components/schemas/InvoiceId"
                  legal_hold_active:
                    type: boolean
                    example: true
              examples:
                activated:
                  summary: Hold activated
                  value:
                    invoice_id: "INV-1023"
                    legal_hold_active: true
                cleared:
                  summary: Hold cleared
                  value:
                    invoice_id: "INV-1023"
                    legal_hold_active: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /escrow/{invoiceId}/pause-dispute:
    post:
      operationId: pauseDispute
      summary: Activate a temporary dispute pause
      description: |
        Places a time-bounded dispute pause on the escrow via
        `LiquifactEscrow.pause_dispute`. Requires admin authorization.

        While active, the pause blocks `fund`, `settle`, `withdraw`, and
        `claim_investor_payout`. It auto-expires when
        `ledger.timestamp() >= expires_at_ledger_timestamp`.

        Maximum `duration_secs` is 1 209 600 (14 days).
      tags: [Escrow, Admin]
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/InvoiceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PauseDisputeRequest"
            examples:
              one_day:
                summary: 24-hour pause for rapid dispute investigation
                value:
                  ticket_id: "TICKET-2026-08-001"
                  duration_secs: 86400
              one_week:
                summary: 7-day pause for complex dispute resolution
                value:
                  ticket_id: "TICKET-2026-08-002"
                  duration_secs: 604800
      responses:
        "200":
          description: Dispute pause activated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisputePauseState"
              example:
                ticket_id: "TICKET-2026-08-001"
                paused_at_ledger_timestamp: 1785000000
                expires_at_ledger_timestamp: 1785086400
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Invalid ticket ID, duration out of range, or ledger timestamp overflow.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                empty_ticket:
                  summary: ticket_id is empty
                  value:
                    error: INVALID_PARAM
                    message: "ticket_id must not be empty."
                    contract_error_code: 172
                duration_zero:
                  summary: duration_secs is zero
                  value:
                    error: INVALID_PARAM
                    message: "duration_secs must be positive."
                    contract_error_code: 169
                duration_exceeds_max:
                  summary: duration_secs exceeds 14-day maximum
                  value:
                    error: INVALID_PARAM
                    message: "duration_secs (2592000) exceeds MAX_DISPUTE_PAUSE_DURATION_SECS (1209600)."
                    contract_error_code: 181
        "500":
          $ref: "#/components/responses/InternalServerError"

  /escrow/{invoiceId}/resume-dispute:
    post:
      operationId: resumeDispute
      summary: Manually resume a paused escrow
      description: |
        Clears an active dispute pause before its auto-expiration via
        `LiquifactEscrow.resume_dispute`. Requires admin authorization.

        If no pause is active, returns `422` with error code `NoPauseActive`.
        May be called while a legal hold is also active.
      tags: [Escrow, Admin]
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/InvoiceId"
      responses:
        "200":
          description: Dispute pause cleared. Normal operations resume (subject to other holds).
          content:
            application/json:
              schema:
                type: object
                required: [invoice_id, resumed_at_ledger_timestamp]
                properties:
                  invoice_id:
                    $ref: "#/components/schemas/InvoiceId"
                  resumed_at_ledger_timestamp:
                    type: integer
                    format: int64
                    description: Ledger timestamp at which the pause was manually cleared.
                    example: 1785050000
              example:
                invoice_id: "INV-1023"
                resumed_at_ledger_timestamp: 1785050000
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: No active dispute pause exists on this escrow.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: NO_PAUSE_ACTIVE
                message: "No active dispute pause found for INV-1023."
                contract_error_code: 174
        "500":
          $ref: "#/components/responses/InternalServerError"

  /escrow/{invoiceId}/export:
    post:
      operationId: exportState
      summary: Export escrow state snapshot (disaster recovery)
      description: |
        Serializes all enumerable instance-storage state into an `EscrowSnapshot`
        via `LiquifactEscrow.export_state`. Requires admin authorization.

        The snapshot is used with `import_state` on a fresh, uninitialized instance
        for disaster recovery or controlled migration. Handle the snapshot as a
        sensitive operational artifact — it contains the full escrow state.
      tags: [Escrow, Admin]
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/InvoiceId"
      responses:
        "200":
          description: Full escrow state snapshot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EscrowSnapshot"
              example:
                schema_version: 7
                escrow:
                  invoice_id: "INV-1023"
                  sme_address: "GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"
                  buyer_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                  amount: 100000000000
                  funding_target: 100000000000
                  funded_amount: 100000000000
                  yield_bps: 800
                  maturity: 1785000000
                  status: 1
                  is_paid: false
                funding_close_snapshot:
                  total_principal: 100000000000
                  funding_target: 100000000000
                  closed_at_ledger_timestamp: 1784000000
                  closed_at_ledger_sequence: 53200000
                legal_hold: false
                dispute_pause: null
                unique_funder_count: 3
                has_primary_attestation: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /escrow/{invoiceId}/import:
    post:
      operationId: importState
      summary: Import escrow state onto a fresh instance (disaster recovery)
      description: |
        Restores instance-storage state from an `EscrowSnapshot` onto a fresh,
        uninitialized contract instance via `LiquifactEscrow.import_state`.
        Requires admin authorization.

        The target instance must not have been initialized (`init` not called).
        Used exclusively for disaster recovery after a confirmed storage corruption
        or archival incident. The snapshot must originate from `export_state` on
        the source instance.

        **Warning:** Importing into a live, initialized instance is rejected with
        a typed error. Verify the target instance is fresh before calling.
      tags: [Escrow, Admin]
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/InvoiceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImportStateRequest"
            example:
              snapshot:
                schema_version: 7
                escrow:
                  invoice_id: "INV-1023"
                  sme_address: "GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"
                  buyer_address: "GCEZWKCA5VLDNRLN3RPRJMRZOX3Z6G5CHCGPSGLDWLK6N7S2FSM60GS"
                  amount: 100000000000
                  funding_target: 100000000000
                  funded_amount: 100000000000
                  yield_bps: 800
                  maturity: 1785000000
                  status: 1
                  is_paid: false
                funding_close_snapshot:
                  total_principal: 100000000000
                  funding_target: 100000000000
                  closed_at_ledger_timestamp: 1784000000
                  closed_at_ledger_sequence: 53200000
                legal_hold: false
                dispute_pause: null
                unique_funder_count: 3
                has_primary_attestation: true
      responses:
        "200":
          description: State successfully restored onto the target instance.
          content:
            application/json:
              schema:
                type: object
                required: [invoice_id, schema_version, imported_at]
                properties:
                  invoice_id:
                    $ref: "#/components/schemas/InvoiceId"
                  schema_version:
                    type: integer
                    format: int32
                    example: 7
                  imported_at:
                    type: string
                    format: date-time
                    description: Server-side timestamp when the import completed.
                    example: "2026-08-30T09:00:00Z"
              example:
                invoice_id: "INV-1023"
                schema_version: 7
                imported_at: "2026-08-30T09:00:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Target instance already initialized, or snapshot schema mismatch.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                already_initialized:
                  summary: Target instance is not fresh
                  value:
                    error: ALREADY_INITIALIZED
                    message: "Cannot import into an already-initialized escrow instance."
                    contract_error_code: 100
                schema_mismatch:
                  summary: Snapshot schema version does not match deployed WASM
                  value:
                    error: SCHEMA_VERSION_MISMATCH
                    message: "Snapshot schema version 6 does not match deployed SCHEMA_VERSION 7."
                    contract_error_code: 90
        "500":
          $ref: "#/components/responses/InternalServerError"

# ---------------------------------------------------------------------------
# Tags
# ---------------------------------------------------------------------------
tags:
  - name: Health
    description: Service liveness probe.
  - name: Info
    description: API metadata.
  - name: Invoices
    description: Read invoice escrow state.
  - name: Escrow
    description: Escrow lifecycle — init, fund, settle, withdraw, claim.
  - name: Admin
    description: Admin-gated operations — legal hold, dispute pause, state export/import.
